* {
  background-color: #e5e5e5;
  font-family: "Inter";
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
}

.logo {
  margin-top: 4.5vh;
}

main {
  display: flex;
  margin-bottom: 6vh;
  margin-left: 5vw;
}

.instruccion {
  display: flex;
  margin-left: 100px;
  margin-top: 70px;
}

.text-area {
  border: none;
  text-transform: lowercase;
  margin-top: 10.5vh;
  color: #0a3871;
  margin-left: 100px;
  resize: none;
}

.text-area::placeholder {
  text-transform: none;
}

::placeholder {
  color: #0a3871;
}
.text-area:focus {
  outline: none;
}

.mensaje {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: baseline;
  top: 40px;
  right: 40px;
  bottom: 40px;
  background-color: white;
  background-repeat: no-repeat;
  border: none;
  border-radius: 24px;
  color: #0a3871;
  margin-right: 40px;
  padding-left: 1vw;
  width: 400px;
  height: 800px;
  margin-block-start: initial;
}
.mensaje:focus {
  outline: none;
}

.img-div {
  background-color: white;
  margin-top: 100px;
}

.botones {
  display: flex;
  margin-top: 2vh;
  margin-left: 100px;
}

.btn-encriptar {
  background-color: #0a3871;
  border: 1px solid #0a3871;
  color: white;
  border-radius: 24px;
  cursor: pointer;
  height: 67px;
  width: 328px;
  font-size: 16px;
  line-height: 19.36px;
  align-self: center;
}

.btn-encriptar:hover {
  background-color: #1f5bc5;
}

.btn-desencriptar {
  background: #d8dfe8;
  border: 1px solid #0a3871;
  color: #0a3871;
  border-radius: 24px;
  margin-left: 24px;
  height: 67px;
  width: 328px;
  cursor: pointer;
  font-size: 16px;
  line-height: 19.36px;
  align-self: center;
}

.btn-desencriptar:hover {
  background-color: #c2c7d0;
}

.div-parrafos {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parrafo1 {
  background-color: white;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: unset;
}

.parrafo2 {
  background-color: white;
  text-align: center;
  font-size: 16px;
  margin-bottom: 80px;
}

.parrafo-mensaje {
  background-color: white;
  font-size: 24px;
  color: #0a3871;
  height: 300px;
  padding: 100px 50px 100px 50px;
  margin-top: 10px;
  margin-bottom: 170px;
  border: none;
  resize: none;
}

.div-btn-copiar {
  height: 30px;
  background-color: white;
}

.btn-copiar {
  background: #d8dfe8;
  border: 1px solid #0a3871;
  color: #0a3871;
  border-radius: 24px;
  margin-left: 30px;
  height: 67px;
  width: 336px;
  cursor: pointer;
  font-size: 16px;
  line-height: 19.36px;
  margin-top: 15px;
}

.btn-copiar:hover {
  background-color: #c2c7d0;
}
.section-mensaje {
  margin-left: 80px;
  margin-top: 20px;
}

.informacion {
  font-size: 16px;
  color: #495057;
  line-height: 18px;
  margin-top: 30px;
}

.img-exclama {
  height: 16px;
  align-self: center;
  margin-right: 8px;
}
.div-textarea {
  background-color: white;
  height: 675px;
}
.mkwhite {
  background-color: white;
  margin-top: 5px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  * {
    line-height: 100%;
  }
  main {
    display: flex;
    flex-direction: column;
    margin-bottom: 6vh;
    margin-left: 5vw;
  }
  .logo {
    margin-top: 40px;
    height: 40px;
  }
  .text-area {
    border: none;
    text-transform: lowercase;
    margin-top: 65px;
    color: #0a3871;
    margin-left: 0px;
    height: 250px;
    width: 550px;
    margin-bottom: 100px;
    resize: none;
  }
  .instruccion {
    display: flex;
    margin-left: 0px;
    margin-top: 0px;
  }
  .botones {
    display: flex;
    margin-top: 0vh;
    margin-left: 0px;
  }
  .img-div {
    display: none;
    background-color: white;
    margin-top: 100px;
  }
  .div-parrafos {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    margin-right: 5px;
    height: 100px;
  }
  .btn-encriptar {
    background-color: #0a3871;
    border: 1px solid #0a3871;
    color: white;
    border-radius: 24px;
    cursor: pointer;
    height: 57px;
    width: 270px;
    font-size: 16px;
    line-height: 19.36px;
    align-self: center;
  }

  .btn-desencriptar {
    width: 270px;
    height: 57px;
  }
  .informacion {
    font-size: 16px;
    color: #495057;
    line-height: 0px;
    margin-top: 8px;
  }
  .mensaje {
    width: 555px;
    align-content: center;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
  }
  .section-mensaje {
    margin-left: 0px;
  }
  .parrafo-mensaje {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .div-btn-copiar {
    height: 100px;
    background-color: white;
  }
  .div-textarea {
    background-color: white;
  }
  .img-exclama {
    align-self: unset;
  }
}

@media (max-width: 767px) {
  main {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-left: 10px;
  }
  .text-area {
    margin-left: 0px;
    font-size: 30px;
    line-height: 48px;
    resize: none;
  }
  .section-xs {
    width: fit-content;
  }
  .instruccion {
    margin-left: 0px;
    margin-top: 0px;
  }
  .h-xs {
    height: 300px;
  }
  .btn-encriptar {
    width: 320px;
    height: 50px;
    font-size: large;
  }

  .btn-desencriptar {
    width: 320px;
    height: 50px;
    font-size: large;
    margin-left: 0px;
  }

  .botones {
    flex-wrap: wrap;
    margin-left: 0px;
    margin-top: 0px;
    gap: 15px;
  }
  .img-div {
    display: none;
    background-color: white;
    margin-top: 100px;
  }
  .informacion {
    font-size: 16px;
    color: #495057;
    line-height: 0px;
    margin-top: 8px;
  }
  .mensaje {
    width: 310px;
    align-content: center;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    margin-left: 14px;
  }
  .section-mensaje {
    margin-left: 0px;
  }
  .parrafo-mensaje {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 0px;
  }
  .div-btn-copiar {
    height: 100px;
    background-color: white;
  }
  .div-textarea {
    background-color: white;
  }
  .parrafo1 {
    font-size: 23px;
    text-align: center;
  }
  .parrafo2 {
    font-size: 19px;
  }
  .img-exclama {
    margin-bottom: 20px;
  }
  .logo {
    height: 42px;
  }
  .txt-encriptado {
  }
  .btn-copiar {
    width: 300px;
    height: 50px;
    font-size: large;
  }
}
